* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #1e3163;
  --primary-color: #2d46b9;
  --secondary-color: #f037a5;
  --text-color: #f8f8f8;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--text-color);
  color: #393e46;

  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  background-color: #1e3163;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

nav .logo a {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

nav .menu-icon {
  display: none;
  cursor: pointer;
}

nav .menu-icon span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px;
  background-color: #fff;

  transition: all 0.3s ease-in-out;
}
nav ul {
  list-style: none;
}
nav ul.menu {
  display: flex;
  transition: all 0.3s ease-in-out;
}

nav ul.menu li {
  padding: 15px;
}

a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #f037a5;
}

@media only screen and (max-width: 900px) {
  nav .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
  }

  nav ul.menu {
    position: absolute;
    top: -200px;
  }

  nav ul.menu.active {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #1e3163;
    top: 100px;
    right: 0;
    /* padding: 80px 0 0; */
    height: auto;
    flex-direction: column;
    align-items: center;
    opacity: 1;
  }

  nav ul.menu li {
    margin: 10px 0;
  }

  nav ul.menu li a {
    font-size: 20px;
  }

  nav .menu-icon.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  nav .menu-icon.active span:nth-child(2) {
    opacity: 0;
  }

  nav .menu-icon.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
section {
  margin: 5em 0;
}
/* Home Page */
.hero {
  padding: 5em 3em 3em 2em;
  text-align: left;
  display: flex;
  gap: 20px;
}
.hero img {
  width: 40%;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    height: 100vh;
  }
  .hero img {
    display: none;
    margin: 0 auto;
  }

  .about {
    flex-direction: column;
  }
  .about img {
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
  }
}
.hero h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.hero p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 2em;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: var(--main-color);
}
/* About Page */
.about {
  background-color: #1e3163;
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--text-color);
  padding: 3rem 2rem 2rem 3rem;
  /* height: 90vh; */
}
.about img {
  /* width: 50%; */
  height: 400px;
}
.about h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.about p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 20px auto;
  gap: 25px;
}
.portfolio h2 {
  width: 100%;
  text-align: center;
}
.project {
  width: 30%;
  background-color: #1e3163;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  border-radius: 10px;
  padding-bottom: 1rem;
}

.project img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.project h3 {
  font-size: 1.5em;
  margin: 1em auto;
  text-align: center;
}

.project p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  margin: 5px;
}
@media (max-width: 750px) {
  .project {
    width: 80%;
  }
}
.contact {
  background-color: var(--main-color);
  padding: 2rem;
  text-align: center;
  margin-bottom: 0px;
  color: var(--text-color);
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.contact label {
  display: block;
  font-size: 1.2em;
  margin-top: 1em;
}

.contact input,
.contact textarea {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 1em auto;
  padding: 1em;
  border: none;
  width: 60%;
}
.contact input:focus {
  outline: none;
}
.contact textarea:focus {
  outline: none;
}

.contact button[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 1em;
}

.contact button[type="submit"]:hover {
  background-color: var(--main-color);
}

footer {
  background-color: #1e3163;
  padding: 1em;
  text-align: center;
  margin-top: 0;
  color: var(--text-color);
}

footer p {
  font-size: 1.2em;
  margin: 0;
}
